<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/notes.css"
</head>
<body>
    <div id="first">
        <header id="navbar">
            <ul id="dtl">
                <li><a href="/student/dashboard"><button>Dashboard</button></a></li>
            </ul></header>
            <section>
                <%showAns.forEach(function(copy){%>
                    <table class="tb" border="2">
                    <tr><td>Announcement:</td><td><%= copy.Subject%></td></tr>
                    <tr><td>Year:</td><td><%= copy.Year%></td></tr>
                    <tr><td colspan="2"><a href="<%= copy.Link%>"><button class="download">Download Now</button></a></td></tr>
                </table>
                  <% })%>
                </section>
            </div>
</body>
</html>