<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/loginsem.css">
</head>
<body class="lg">
    <section id="login">
        <h3 id="lgre">Be Elite member in one Step</h3>
            <table class="login2"style="color: antiquewhite;">
               <form action="/dashboard" method="post">
               <tr>
               <th colspan="2" id="Sign">Sign In</th>
            </tr>
               <tr> 
                  <td colspan="2"><input type="email" placeholder="email" value="" name="email" autocomplete="off" class="box" ></td>
                  <td></td>
               </tr>
               <tr>
                  <td colspan="2"><input type="password" placeholder="Password" value="" name="pass" autocomplete="off" class="box" ></td>
                  <td></td>
               </tr>
               </tr>
               <tr>
                  <td colspan="2">Dont have account? </td><td></td>
               </tr>
               <tr>
                  <td colspan="2">Click on Sigup Button </td><td></td>
               </tr>
                <tr>
                  <td colspan="2"><button class="submit" style="background-color: chartreuse;" id="sgin">Sign IN</button></td>
               </form>
               </tr>
               <tr>
                  <td colspan="2"><button id="sgin" onclick="setTimeout('signup()',100)">Sign Up</button></td><td></td>
               </tr>
            </table>
    </section>
    <section id="Register">
      <h3 id="lgre">Be Elite member in one Step</h3>
      
          <table class="login2"style="color: antiquewhite;">
            <form  action="/createuser" method="post">
             <tr>
             <th colspan="2" id="Sign">Sign Up</th>
          </tr>
          <tr id="usr">
             <td colspan="2"><input type="text" placeholder="Username" value="" name="name" autocomplete="off" class="box" id="username"></td>
             <td></td>
          </tr>
             <tr> 
                <td colspan="2"><input type="email" placeholder="email" value="" name="email" autocomplete="off" class="box" id="email"></td>
                <td></td>
             </tr>
             <tr>
                <td colspan="2"><input type="password" placeholder="Password" value="" name="" autocomplete="off" class="box" id="pass"></td>
                <td></td>
             </tr>
             <tr>
                <td colspan="2"><input type="password" placeholder=" Confirm Password" value="" name="pass" autocomplete="off" class="box" id="cpass"></td>
                <td></td>
             </tr>
             <tr>
                <td>Semester</td>
                <td><select id="sem" name="semester">
                   <option value="first">1</option>
                   <option value="secound">2</option>
                   <option value="third">3</option>
                   <option value="fourth">4</option>
                   <option value="fifth">5</option>
                   <option value="sixth">6</option>
                   <option value="seventh">7</option>
                   <option value="eight">8</option>
                </select></td>
             </tr>
             </tr>
              <tr>
                <td><button class="submit" type="submit">Submit Form</button></td> </form>
                <td><button class="submit" onclick="validation();">Verify Forms</button></td>
             </tr>
             <tr>
                <td colspan="2"><button id="sgin" onclick="signin()">Sign In</button></td><td></td>
             </tr>
           
          </table>
      
  </section>
</body>
<script src="/javascripts/logvalid.js"></script>
</html>