<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/notes.css">
</head>
<body>
    <div id="first">
    <header id="navbar">
        <ul id="dtl">
            <li><select id="year_std" onchange="year();">
                <option value="1st">1st</option>
                <option value="2nd">2nd</option>
                <option value="3rd">3rd</option>
                <option value="4th">4th</option>
            </select> Year</li>
            <li><select onchange="subject();" id="subject">
                <option value="Mechanics">Fund. of Mechanics</option>
                <option value="Chemistry">Engg.Chemistry</option>
                <option value="m1">Maths I</option>
                <option value="electronics"> Fund. of Electronics</option>
                <option value="softSkill">Soft Skill</option>
                <option value="Electrical">Fund. of Electrical</option>
                <option value="evs">EVS</option>
                <option value="m2">Maths II</option>
                <option value="pps"> PPS</option>
                <option value="Phy">Engg. Physics</option>
            </select>Subject</li>
            <li><button>Dashboard</button></li>
        </ul>
    </header>
    <section id="sec">
        <h1 class="yre">First Year</h1>
        <div id="mech">
            <h2 class="sub">Fundamental of Mechanics</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Mechanics</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1PMae545F1MKNu7A2uR8SIT0sxe_ZkVoz"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Mechanics</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href=""><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Mechanics</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="mth">
        <h2 class="sub">Maths I</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Math I</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href=""><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Math I</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img">
            <tr><td>Subject:</td><td>Math I</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="elec">
        <h2 class="sub">Fundamental of Electronics</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. Of Electronics</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/16IRO-J13xn71JzV8j502IvYln4-qoRrV"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Electronics</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Electronics</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="chem">
        <h2 class="sub">Engineering Chemistry</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Engg. Chemistry</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1nagG0PuUNTFhYE9u7lJW4i38MwBv30o9"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Engg. Chemistry</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Engg. Chemistry</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="SoftSkill">
        <h2 class="sub">Soft Skill</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Soft Skill</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1Vjx36nvZlHyW3xoTtRViaFw85DpA9Xbk"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Soft Skill</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Soft Skill</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="Physics">
        <h2 class="sub">Engineering Physics</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Engg. Physics</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1zHdwirmjlNHK659BkE1VBDI96G3FZY-8"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Engg. Physics</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Engg. Physics</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="elet">
        <h2 class="sub">Fund. Of Electrical</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td> Fund. of Electrical</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1o2d2ycJyfkuJdMKZWwJtDStBdoarWZOp"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Electrical</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Electrical</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="evs">
        <h2 class="sub">Enviromental Studies</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Enviromental Studies</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1bFC_AwCl7-V0iDWh0ewl211PE1dzAa-d"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Enviromental Studies</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Enviromental Studies</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="pps">
        <h2 class="sub">Programming for Problem Solving</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>PPS</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1h5mrkWBKtIjxKdHHeLxgSkrxYBiJafHu"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>PPS</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>PPS</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="mt2">
        <h2 class="sub">Maths II</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Maths II</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1VvoGPXTf4TkC1Au6FrGGxDzqAaPXAPHe"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Maths II</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Maths II</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    </section>
</div>
<div id="secound">
    <header id="navbar">
        <ul id="dtl">
            <li><select id="year_std_sec" onchange="year_sec();">
                <option value="sec_1st">1st</option>
                <option value="sec_2nd">2nd</option>
                <option value="sec_3rd">3rd</option>
                <option value="sec_4th">4th</option>
            </select> Year</li>
            <li><select onchange="subject_sec();" id="subject_sec">
                <option value="elec2">Electronics</option>
                <option value="tecm">Technical Comm.</option>
                <option value="dstl">DSTL</option>
                <option value="coa">COA</option>
                <option value="ds">Data Structure</option>
                <option value="pyt">Python</option>
                <option value="m4">Maths IV</option>
                <option value="uhv">UHV</option>
                <option value="tafl">TAFL</option>
                <option value="os"> Operating System</option>
                <option value="cs">Cyber Security</option>
                <option value="ooj">OOPS with Java</option>
            </select>Subject</li>
            <li><button>Dashboard</button></li>
        </ul>
    </header>
    <section id="sec">
        <h1 class="yre">Secound Year</h1>
        <div id="electr_sec">
            <h2 class="sub">Electronics</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Electronics</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1ZzdZlWTfFsQowEIBKNZRIQlnzf4GwVrA"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Electronics</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Electronics</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="mth4">
        <h2 class="sub">Maths IV</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Math IV</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1wJCk8uO7jYxsasZTySore4O_SVWSXu7y"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Math IV</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img">
            <tr><td>Subject:</td><td>Math IV</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="technicalcomm">
        <h2 class="sub">Technical Communication</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Technical Communication</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1AKb2OEGmWvDqwYDCz5ZfNf9is9MKkU3b"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Technical Communication</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Technical Communication</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="uhv">
        <h2 class="sub">UHV</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>UHV</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1-M5A7lDBvn2lmDi8qRxXYuMIzN7e82lv"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>UHV</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>UHV</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="coa">
        <h2 class="sub">Computer Organization and Architecture</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>COA</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1J6Af60pf8uPPDhn2_1FGlQ5yPwb4vMCD"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>COA</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>COA</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="os">
        <h2 class="sub">Operating System</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Operating System</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1mOKYw_PSx8oxBktCk9pjfhIIZ1dNSAwb"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Operating System</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Operating System</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="ds">
        <h2 class="sub">Data Structure</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td> Data Structure</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href=""><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Data Structure</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Data Structure</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="pyt">
        <h2 class="sub">Python Programming</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Python Programming</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1RV-QqvsLngkYgKhr7fBZYlHwF24KRcva"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Python Programming</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Python Programming</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button v>Download Now</button></td></tr>
        </table>
    </div>
    <div id="oopsj">
        <h2 class="sub">Object Oriented Programming with java</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>OOPS</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1BF6mmxlo9IqRGv_FS4UCYnS5jXtMvADb"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>OOPS</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>OOPS</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="dstl">
        <h2 class="sub">Discrete Structure & Logic of Theory</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>DSTL</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1gbUAbimrXXoAVBVDs0NSQ23L6whXbVha"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>DSTL</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>DSTL</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="tafl">
        <h2 class="sub">Theory Of Automata and Formal Languages</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>TAFL</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1DgtCx_Pwdueyon8YpkydoNg15Z4-gMwb"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>TAFL</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>TAFL</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="cs">
        <h2 class="sub">Cyber Security</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Cyber Security</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1yk_IB6oaUDo4tsm_YGziN73VXGlk8aca"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Cyber Security</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Cyber Security</td></tr>
            <tr><td>Title:</td><td>College Notes</td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    </section>
</div>
</body>
<script src="/javascripts/note.js"></script>
</html>