<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/notes.css">
</head>
<body>
    <div id="first">
    <header id="navbar">
        <ul id="dtl">
            <li><select id="year_std" onchange="year();">
                <option value="1st">1st</option>
                <option value="2nd">2nd</option>
                <option value="3rd">3rd</option>
                <option value="4th">4th</option>
            </select> Year(Click twice)</li>
            <li><select onchange="subject();" id="subject">
                <option value="Mechanics">Fund. of Mechanics</option>
                <option value="Chemistry">Engg.Chemistry</option>
                <option value="m1">Maths I</option>
                <option value="electronics"> Fund. of Electronics</option>
                <option value="softSkill">Soft Skill</option>
                <option value="Electrical">Fund. of Electrical</option>
                <option value="evs">EVS</option>
                <option value="m2">Maths II</option>
                <option value="pps"> PPS</option>
                <option value="Phy">Engg. Physics</option>
            </select>Subject</li>
            <li><button>Dashboard</button></li>
        </ul>
    </header>
    <section id="sec">
        <h1 class="yre">First Year</h1>
        <div id="mech">
            <h2 class="sub">Fundamental of Mechanics</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Mechanics</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1PMae545F1MKNu7A2uR8SIT0sxe_ZkVoz"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Mechanics</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r_bpkKodv0hz2qbCOV-s4KFIQJ_PYVJ3?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Mechanics</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/file/d/1zM38ObYORyj4cagImpW615YukuHepNvN/view?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="mth">
        <h2 class="sub">Maths I</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Math I</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href=""><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Math I</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rdqkCFjWuZNX_pNMyZ863INrPaipzK0R?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img">
            <tr><td>Subject:</td><td>Math I</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/file/d/1-tmejVWxu37btky_LrJQlOmH7pmoomGD/view?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="elec">
        <h2 class="sub">Fundamental of Electronics</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. Of Electronics</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/16IRO-J13xn71JzV8j502IvYln4-qoRrV"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Electronics</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rlx-1zecYcsf_7cuvdriObDNGZg07Sog?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Electronics</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/file/d/17zGbUicKdjtNmQG3IKJgSyXw74xJLGLG/view?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="chem">
        <h2 class="sub">Engineering Chemistry</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Engg. Chemistry</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1nagG0PuUNTFhYE9u7lJW4i38MwBv30o9"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Engg. Chemistry</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rbfPzePDFkzDhm8CrJc-5AImgzgXyazC?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Engg. Chemistry</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/file/d/1oIsZqG3w_ZFLjGDZY7F8Zue6EzTT3XiH/view?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="SoftSkill">
        <h2 class="sub">Soft Skill</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Soft Skill</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1Vjx36nvZlHyW3xoTtRViaFw85DpA9Xbk"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Soft Skill</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rqNXT4tawmBM2PE3JODE-SbJlN56u1hL?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Soft Skill</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/file/d/1KPspFdAMG-OdZCfoo-b0cCY8fpjC0BHy/view?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="Physics">
        <h2 class="sub">Engineering Physics</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Engg. Physics</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1zHdwirmjlNHK659BkE1VBDI96G3FZY-8"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Engg. Physics</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rzaqh9vaoCsP3AH3th3-qGg_AW9RgBb8?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Engg. Physics</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/file/d/1_mEHLX1VAqA3IcTmjtK-78p9bF5s0AYY/view?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="elet">
        <h2 class="sub">Fund. Of Electrical</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td> Fund. of Electrical</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1o2d2ycJyfkuJdMKZWwJtDStBdoarWZOp"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Electrical</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rrZB0M_tICq-uFRCYxn1b3VRW20_X-IT?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Fund. of Electrical</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/file/d/1F5FTbXkd5JlRYvv22v32PMNWO4BwVPj9/view?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="evs">
        <h2 class="sub">Enviromental Studies</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Enviromental Studies</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1bFC_AwCl7-V0iDWh0ewl211PE1dzAa-d"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Enviromental Studies</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rrxzbdXw_Mi2zsIBX1RaYNPwC_8oHz1f?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Enviromental Studies</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r_bpkKodv0hz2qbCOV-s4KFIQJ_PYVJ3?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="pps">
        <h2 class="sub">Programming for Problem Solving</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>PPS</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1h5mrkWBKtIjxKdHHeLxgSkrxYBiJafHu"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>PPS</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rxzSLI343-XCV_-kb0X4R7SgCo1dxjp8?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>PPS</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/file/d/1zTHmwWiLGwouUxMpc5n55N7uJuEYe5xs/view?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="mt2">
        <h2 class="sub">Maths II</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Maths II</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1VvoGPXTf4TkC1Au6FrGGxDzqAaPXAPHe"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Maths II</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rxWqUXGe0c4pmV7J7fyztFXwke5palDw?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Maths II</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/file/d/1QuVPDS4HU3XGDDHMdX3wI45pdysXfYfP/view?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    </section>
</div>
<div id="secound">
    <header id="navbar">
        <ul id="dtl">
            <li><select id="year_std_sec" onchange="year_sec();">
                <option value="sec_1st">1st</option>
                <option value="sec_2nd">2nd</option>
                <option value="sec_3rd">3rd</option>
                <option value="sec_4th">4th</option>
            </select> Year</li>
            <li><select onchange="subject_sec();" id="subject_sec">
                <option value="elec2">Electronics</option>
                <option value="tecm">Technical Comm.</option>
                <option value="dstl">DSTL</option>
                <option value="coa">COA</option>
                <option value="ds">Data Structure</option>
                <option value="pyt">Python</option>
                <option value="m4">Maths IV</option>
                <option value="uhv">UHV</option>
                <option value="tafl">TAFL</option>
                <option value="os"> Operating System</option>
                <option value="cs">Cyber Security</option>
                <option value="ooj">OOPS with Java</option>
            </select>Subject</li>
            <li><button>Dashboard</button></li>
        </ul>
    </header>
    <section id="sec">
        <h1 class="yre">Secound Year</h1>
        <div id="electr_sec">
            <h2 class="sub">Electronics</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Electronics</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1ZzdZlWTfFsQowEIBKNZRIQlnzf4GwVrA"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Electronics</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rFp6yV3OofkXubmInWyDEruoIOkewhjI?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Electronics</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r22KeM4Ui9NqOZZbT-OMD1WnYRx0Y7OS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="mth4">
        <h2 class="sub">Maths IV</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Math IV</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1wJCk8uO7jYxsasZTySore4O_SVWSXu7y"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Math IV</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rPNqcKxQ5rZTIZYdgPOdsJ33mRwuukTG?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img">
            <tr><td>Subject:</td><td>Math IV</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r22KeM4Ui9NqOZZbT-OMD1WnYRx0Y7OS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="technicalcomm">
        <h2 class="sub">Technical Communication</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Technical Communication</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1AKb2OEGmWvDqwYDCz5ZfNf9is9MKkU3b"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Technical Communication</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rG9YmFLM48HgSNhoeOBlCej_mtFly-QH?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Technical Communication</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r22KeM4Ui9NqOZZbT-OMD1WnYRx0Y7OS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="uhv">
        <h2 class="sub">UHV</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>UHV</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1-M5A7lDBvn2lmDi8qRxXYuMIzN7e82lv"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>UHV</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rQ0W4Qu-8cGTPPtrH3PTa9RbVXLpluKu?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>UHV</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r22KeM4Ui9NqOZZbT-OMD1WnYRx0Y7OS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="coa">
        <h2 class="sub">Computer Organization and Architecture</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>COA</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1J6Af60pf8uPPDhn2_1FGlQ5yPwb4vMCD"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>COA</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rHvYWgc19E30a8w5IizKRu6-3xbRBL1-?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>COA</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r22KeM4Ui9NqOZZbT-OMD1WnYRx0Y7OS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="os">
        <h2 class="sub">Operating System</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Operating System</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1mOKYw_PSx8oxBktCk9pjfhIIZ1dNSAwb"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Operating System</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rTnp_d7kzp55WX67SiwrUOUWCM9Fa8DW?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Operating System</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r22KeM4Ui9NqOZZbT-OMD1WnYRx0Y7OS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="ds">
        <h2 class="sub">Data Structure</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td> Data Structure</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href=""><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Data Structure</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rLf8P1OpZxXldYjzUj9PLh0HoTvH_Jog?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Data Structure</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r22KeM4Ui9NqOZZbT-OMD1WnYRx0Y7OS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="pyt">
        <h2 class="sub">Python Programming</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Python Programming</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1RV-QqvsLngkYgKhr7fBZYlHwF24KRcva"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Python Programming</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rNxe0e0Kiwi_yYbXUZ1iiarylWXm5U00?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Python Programming</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r22KeM4Ui9NqOZZbT-OMD1WnYRx0Y7OS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="oopsj">
        <h2 class="sub">Object Oriented Programming with java</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>OOPS</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1BF6mmxlo9IqRGv_FS4UCYnS5jXtMvADb"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>OOPS</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rVfljIyhX5k3Hs_XaQn0kLodykda9GGW?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>OOPS</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r22KeM4Ui9NqOZZbT-OMD1WnYRx0Y7OS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="dstl">
        <h2 class="sub">Discrete Structure & Logic of Theory</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>DSTL</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1gbUAbimrXXoAVBVDs0NSQ23L6whXbVha"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>DSTL</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rGh6n1uNx1PTtJ9QIhl3H3Ww6dn9w_3t?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>DSTL</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r22KeM4Ui9NqOZZbT-OMD1WnYRx0Y7OS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="tafl">
        <h2 class="sub">Theory Of Automata and Formal Languages</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>TAFL</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1DgtCx_Pwdueyon8YpkydoNg15Z4-gMwb"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>TAFL</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rSC6tdccflx0W2WNj4ntk9NQmyx0BB_i?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>TAFL</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r22KeM4Ui9NqOZZbT-OMD1WnYRx0Y7OS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    <div id="cs">
        <h2 class="sub">Cyber Security</h2>
        <table class="tb" border="2">
            <tr><td id="gtway" colspan="2"><img src="https://play-lh.googleusercontent.com/iYF_DJQbGtcn5HFThI4BiPvx9AfFbXwL2THjLZ77vsIog9uRQ5G3dTwXg31yWU7AcrQl" class="img"></td></tr>
            <tr><td>Subject:</td><td>Cyber Security</td></tr>
            <tr><td>Title:</td><td>Gateway Notes</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1yk_IB6oaUDo4tsm_YGziN73VXGlk8aca"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="itech" colspan="2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFBN45TCR8cX3lfim4bl2BLi7hg9wVidIB_A&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Cyber Security</td></tr>
            <tr><td>Title:</td><td>Itech World</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1rTwysLQ4z4hPpc27gj8BIuW_3j-hTggM?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            <tr><td id="college" colspan="2"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvPiMLfUHUfJTVs2LZmopc_M-CFLwMFrqnIg&s" class="img"></td></tr>
            <tr><td>Subject:</td><td>Cyber Security</td></tr>
            <tr><td>Title:</td><td>Quantum</td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1r22KeM4Ui9NqOZZbT-OMD1WnYRx0Y7OS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
    </div>
    </section>
</div>
<div id="third">
    <header id="navbar">
        <ul id="dtl">
            <li><select id="year_std_trd" onchange="year_thrd();">
                <option value="sec_1st">1st</option>
                <option value="sec_2nd">2nd</option>
                <option value="sec_3rd">3rd</option>
                <option value="sec_4th">4th</option>
            </select> Year</li>
            <li><select onchange="subject_trd();" id="subject_trd">
                <option value="db">Database Management System</option>
                <option value="wt">Web Technology</option>
                <option value="daa">Design And Analysis of Algorithm</option>
                <option value="ds">Data Analytics</option>
                <option value="cg">Computer Graphics</option>
                <option value="ml">Machine Learning Techniques</option>
                <option value="sc">Application of Soft Computing </option>
                <option value="dw">Data Warehouse and Data Mining</option>
                <option value="se">Software Engineering</option>
                <option value="cd">Compiler Design</option>
                <option value="cn">Computer Networks</option>
                <option value="bd">Big Data</option>
                <option value="ar">Argumented and Virtual Reality</option>
                <option value="ba">BlockChain Architecture Design</option>
                <option value="dc">Data Compression</option>
                <option value="oe">Open Elective-I</option>
            </select>Subject</li>
            <li><button>Dashboard</button></li>
        </ul>
    </header>
    <section id="sec">
        <h1 class="yre">Third Year </h1>
        <div id="dbms">
            <h2 class="sub">Database Management System</h2>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Database Management System</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17FI3vHX-EZtyO5dBg59Iu2dr7wUTTw9I?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Database Management System</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1pyaUGsj6j14xLw0q_MpNrTR_0e747Dc1?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
          
            <tr><td>Subject:</td><td>Database Management System</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="dataanlaytics">
        <h2 class="sub">Data Analytics </h2>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Data Analytics</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17YJjxoEpX9A7oXDnHmbEck2YkF7FsPTc?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Data Analytics</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1qBX-U3BNAntyO-6PQ6eTAsEQPG_NwqHS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Data Analytics</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="compiler">
        <h2 class="sub">Compiler Design</h2>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Compiler Design</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17sBwMOJ5Us5SsLdLpG6BNeeNEMQkMxpS?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Compiler Design</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1qUrUfzX0U62QAB6s15YhLUfTctYuCXOw?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Compiler Design</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="Softwareengg">
        <h2 class="sub">Software Engineering</h2>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Software Engineering</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17qIORwRiR9tcmOYAmNKqkurcLGY1ErgX?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Software Engineering</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1qUY9cnvZDJLptqFIq1ZLJtDBwLYVTQQs?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Software Engineering</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="computernetworks">
        <h2 class="sub">Computer Networks</h2>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Computer Networks</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/185jZi-GtXwfZQb5gyVtTafY4ub-E74IQ?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Computer Networks</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1qVEf2p8RdBTT5snPuLjHhjC-p1CAOmFa?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Computer Networks</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="web">
        <h2 class="sub">Web Technology</h2>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Web Technology</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17Fwaoa6FOeLiMwq8XN9_-HBuENK3mwep?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Web Technology</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1q78DvxqUvQwgkzfS8IjJM3j8mMD9FFGG?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Web Technology</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="DAA">
        <h2 class="sub">Design And Analysis of Algorithm</h2>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>DAA</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17TrjcKXdZ7h4bDw6DoR-bsRsNLDphVhQ?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>DAA</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1q9aJ3Sax4-NGqI4e0qbjxrzQBfx3lgO-?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>DAA</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="blockchaindg">
        <h2 class="sub">BlockChain Architecture Design</h2>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>BlockChain Architecture Design</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/180X4-feIcFaQMAIg2nhp6CtG1LEjHR0g?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>BlockChain Architecture Design</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1q_sb5ikiJCyaRP4k2cQUeCkP6h0MDwGH?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
          
            <tr><td>Subject:</td><td>BlockChain Architecture Design</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button v>Download Now</button></td></tr>
        </table>
    </div>
    <div id="cgi">
        <h2 class="sub">Computer Graphics</h2>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Computer Graphics</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17YLZDY0wOBc0cvFR8hH0DagxZntkoSE0?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Computer Graphics</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1qCf0bX-bhFCsy8CLLLYAY4uTfhb18ybH?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
          
            <tr><td>Subject:</td><td>Computer Graphics</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="ML">
        <h2 class="sub">Machine Leaning Techniques</h2>
        <table class="tb" border="2">
          
            <tr><td>Subject:</td><td>Machine Learning Techniques</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17bDXIKC3CQmI12EbVTdWqGENjI0jXaUZ?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Machine Learning Techniques</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1qGGs2X9EYhy2Z0caccopUDJ3GyBwCIrO?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Machine Learning Techniques</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="DWDM">
        <h2 class="sub">Data WareHouse and Data Mining</h2>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Data WareHouse and Data Mining</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17fyttZcSoTisoncbWoUcHN9f5aIw5iTT?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Data WareHouse and Data Mining</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1qMbSzWGO1xciShPYDU3x6Fj9O1us0HyB?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
           
            <tr><td>Subject:</td><td>Data WareHouse and Data Mining</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="bigdata">
        <h2 class="sub">Big Data</h2>
        <table class="tb" border="2">
          
            <tr><td>Subject:</td><td>Big Data</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17v4YU00E-6hy7Trz8TgymMyyNuEgjdNt?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">

            <tr><td>Subject:</td><td>Big Data</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1qYqoGZCGF6bH9J7bsIjwaHOfJhTsX-Td?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Big Data</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>

    <div id="stacomp">
        <h2 class="sub">Statical Computing</h2>
        <table class="tb" border="2">
          
            <tr><td>Subject:</td><td>Statical Computing</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17X4r35JK6oTEFr-xeG-4A4Vp4hLbktM2?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">

            <tr><td>Subject:</td><td>Statical Computing</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17FI3vHX-EZtyO5dBg59Iu2dr7wUTTw9I?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Statical Computing</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>

    <div id="appofsoft">
        <h2 class="sub">Application of Soft Computing</h2>
        <table class="tb" border="2">
          
            <tr><td>Subject:</td><td>Application of Soft Computing</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17cYLOH2T5Wn6x25CJbe_zdvuF87_xYX6?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">

            <tr><td>Subject:</td><td>Application of Soft Computing</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1qGz72cTeEqq2NVeet8aX0YvzZILRvqxp?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Application of Soft Computing</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="ARVR">
        <h2 class="sub">Argumented & Virtual Reality </h2>
        <table class="tb" border="2">
          
            <tr><td>Subject:</td><td>ARVR</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/17y4aEtKKq0BLSm3b0dVenRyzewQnN8Ss?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">

            <tr><td>Subject:</td><td>ARVR</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1q_-oMgucon92L8jmPXgW4B4v0objJlYB?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>ARVR</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="OEI">
        <h2 class="sub">Open Elective - I</h2>
        <table class="tb" border="2">
          
            <tr><td>Subject:</td><td>Open Elective - I</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/188A7tFiAymTLIrp7HoutTIvoqSt5Qkld?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">

            <tr><td>Subject:</td><td>Open Elective - I</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1qds8l7HR1OYf-tiQpMbL0BVQiIx0ljBv?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Open Elective - I</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    <div id="Datacom">
        <h2 class="sub">Data Compression</h2>
        <table class="tb" border="2">
          
            <tr><td>Subject:</td><td>Data Compression</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/184hI20PKF7gDw-5NPF4EPrZIci5vqnvR?usp=drive_link><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">

            <tr><td>Subject:</td><td>Data Compression</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><a href="https://drive.google.com/drive/folders/1qbj6nRULeEPf657_jO8QvVAmb-ovMO8O?usp=drive_link"><button class="download">Download Now</button></a></td></tr>
        </table>
        <table class="tb" border="2">
            
            <tr><td>Subject:</td><td>Data Compression</td></tr>
            <tr><td>Title:</td><td></td></tr>
            <tr><td colspan="2"><button class="download">Download Now</button></td></tr>
        </table>
    </div>
    </section>
</div>
</body>
<script src="/javascripts/note.js"></script>
</html>