<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/loginsem.css">
</head>
<body class="lg">
    <section id="Register">
      <h3 id="lgre">Be Elite member in one Step</h3>
     
          <table class="login2"style="color: antiquewhite;">
            <form id="fm1" action="/notesupload" method="post">
             <tr>
             <th colspan="2" id="Sign">Upload Notes</th>
          </tr>
          <tr id="usr">
             <td colspan="2"><input type="url" placeholder="Image Link" value="" name="link" autocomplete="off" class="box" id="username"></td>
             <td></td>
          </tr>
             <tr> 
                <td colspan="2"><input type="text" placeholder="Subject" value="" name="subject" autocomplete="off" class="box" id="email"></td>
                <td></td>
             </tr>
             <tr>
                <td colspan="2"><input type="text" placeholder="Title" value="" name="title" autocomplete="off" class="box" id="pass"></td>
                <td></td>
             </tr>
             <tr>
                <td colspan="2"><input type="url" placeholder="Notes URL" value="" name="notes" autocomplete="off" class="box" id="cpass"></td>
                <td></td>
             </tr>
             <tr>
               <td colspan="2"><input type="number" placeholder="Year " value="" name="year" autocomplete="off" class="box" id="cpass"></td>
               <td></td>
            </tr>
             <tr>
                <td colspan="2"><button id="sgin" type="submit">Upload</button></td><td></td>
             </form>
             </tr>
          </table>
       
  </section>
</body>
</html>