<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/pyq.css">
</head>
<body>
    <div id="first">
        <header id="navbar">
            <ul id="dtl">
                <li><select id="year_std" onchange="move();">
                    <option value="1st">1st</option>
                    <option value="2nd">2nd</option>
                    <option value="3rd">3rd</option>
                    <option value="4th">4th</option>
                </select> Year</li>
                <li><button>Dashboard</button></li>
               </ul>
        </header>
    </div>
    <section id="first_yr">
        <h1 class="yre">First Year/ Secound Year</h1>
       <table class="tb" border="2">
        <tr><th colspan="2">First Year</th></tr>
           <tr><td id="gtway">Subject:</td><td>Link:</td></tr>
           <tr><td>Maths I</td><td><a href="https://drive.google.com/drive/folders/1p6M50O6JZAVq0AfwjgPTmG4CmGxSG4oL?usp=drive_link">Download Now</a></td></tr>
           <tr><td>Engg.Chemistry</td><td><a href="https://drive.google.com/drive/folders/1pOLKMkh7gR-iDwCQpY4bdonwT3AtWH-4?usp=drive_link">Download Now</a></td></tr>
           <tr><td>Fundamental of Electronics Engg.</td><td><a href="https://drive.google.com/drive/folders/1p9DHfSmLZlZ3TqS2Rf1XpULxUL-3kKzJ?usp=drive_link">Download Now</a></td></tr>
           <tr><td>Fundamental of Electrical Engg.</td><td><a href="https://drive.google.com/drive/folders/1L9BFpI6LZWKvQINWSX61BD7rYSWUZeY_">Download Now</a></td></tr>
           <tr><td> Fundamental of Mechanical Engg.</td><td><a href="https://drive.google.com/drive/folders/1pB4JqgCJladPOZ4dbaYnpnpF4-5IZ4UK?usp=drive_link">Download Now</a></td></tr>
           <tr><td>Soft Skill</td><td><a href="https://drive.google.com/drive/folders/1LIgQOJBZnhUuSK08Wh7M7tGu_00Y2W-i">Download Now</a></td></tr>
           <tr><td>Maths II</td><td><a href="https://drive.google.com/drive/folders/1pN6cGuEP1i55RIgoG2XFT-e4FgPAqihP?usp=drive_link">Download Now</a></td></tr>
           <tr><td>Physics</td><td><a href="https://drive.google.com/drive/folders/1pNRlIfEnXpONH0_bCumS2t6S1HUYVedI?usp=drive_link">Download Now</a></td></tr>
           <tr><td>Programming For Problem Solving</td><td><a href="https://drive.google.com/drive/folders/1Pak1zQcim5OvbjZqSzAggZsLTM2E_whU">Download Now</a></td></tr>
           <tr><td>EVS</td><td><a href="https://drive.google.com/drive/folders/1LAyqCDR4NmWs28vL54IQWCpiMQ82JQAK">Download Now</a>>
       </table>
       <table class="tb" border="2">
        <tr><th colspan="2">Secound Year</th></tr>
           <tr><td id="gtway">Subject:</td><td>Link:</td></tr>
           <tr><td>Data Structure</td><td><a href="https://drive.google.com/drive/folders/1jIgO_9HzuaYOYi-GEvDHu38KzG2dQ1_F">Download Now</a></td></tr>
           <tr><td>Electronics Engg.</td><td><a href="https://drive.google.com/drive/folders/1jZMF7M8IfyeR3Z2Xpw3UdMsMaMmdAog5">Download Now</a></td></tr>
           <tr><td>Computer Organization And Architecture</td><td><a href="https://drive.google.com/drive/folders/1jO41uEvCsnLIA_xg0-J69j8Z8x8-ijbl">Dowmload Now</a></td></tr>
           <tr><td>Technical Communication</td><td><a href="https://drive.google.com/drive/folders/1pSuYZYLlTC61d6XuEpd6bt7jx9tp46A6">Download Now</a></td></tr>
           <tr><td>Theory Of Automata and Formal Language</td><td><a href="https://drive.google.com/drive/folders/1QMYE_HxQWT2hxy1Dn3V0HmWH69_C3R36">Download Now</a></td></tr>
           <tr><td>Maths IV</td><td><a href="https://drive.google.com/drive/folders/1Q8wviF2RkbPZ0SptOi7H8ukEYLAlWwD3">Download Now</a></td></tr>
           <tr><td>Object Oriented Programming with Java</td><td><a href="https://drive.google.com/drive/folders/1Q9YhYUjfcCd7VEKtmNuw3YAfaN4dq_9_">Download Now</a></td></tr>
           <tr><td>Operating System</td><td><a href="https://drive.google.com/drive/folders/1Q9jNU4zS3Fs23_lIWzwV7wIU305UQftQ">Download Now</a></td></tr>
           <tr><td>Cyber Security</td><td><a href="https://drive.google.com/drive/folders/1Q3Ouof495LtHWFy6eWNLGzmuhtkqm3hf">Download Now</a></td></tr>
           <tr><td>Python Programming</td><td><a href="https://drive.google.com/drive/folders/1j_C2KPZv-LgBlfa66loJtooNEHxY2T9Q">Download Now</a></td></tr>
           <tr><td>Discrete Structure Logic and Theory</td><td><a href="https://drive.google.com/drive/folders/1jcDVTQZYppbhTUHsLX5m9gNK9nIUjdNI">Download Now</a></td></tr>
           <tr><td>Universal Human Values </td><td><a href="https://drive.google.com/drive/folders/1Q3pw3M_PgM3cw4J1LEkYGMq79lrUbIyf">Dowmload Now</a></td></tr>
       </table>
</section>
<section id="secound_yr">
    <h1 class="yre">Third Year/ Fourth Year</h1>
   <table class="tb" border="2">
    <tr><th colspan="2">Third  Year</th></tr>
       <tr><td id="gtway">Subject:</td><td>Link:</td></tr>
       <tr><td>Database Management System </td><td><a href="https://drive.google.com/drive/folders/1kPArMCQcXvkEBsPEOf4XO-ckctaBmbag?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Web Technology</td><td><a href="https://drive.google.com/drive/folders/1kQLPeWWKt94PDS0H6fqXF4rpQUHnVfo-?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Design and Analysis of Algorithm</td><td><a href="https://drive.google.com/drive/folders/1kP2eK70BFsrFQMmrHfF7iR3ECQA_fle1?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Statical Computing</td><td><a href="https://drive.google.com/drive/folders/1oQmyq0T_qxixm7AIFU_lKb7t_F6QAgGn?usp=drive_link">Download Now</a></td></tr>
       <tr><td> Data Analytics</td><td><a href="https://drive.google.com/drive/folders/1oSzRxq_7UGZi3LYiOz63eSgnVmi5OzU2?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Computer Graphics</td><td><a href="https://drive.google.com/drive/folders/1oTJD3BIy1XqsB_1iIQ4SWpWIOTbk24Pe?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Object Oriented System Design with C++</td><td><a href="">Download Now</a></td></tr>
       <tr><td>Machine Learning Technique</td><td><a href="https://drive.google.com/drive/folders/1kUZsc7ZMFfxn06Eo1RJ-Ia8vFV21tFh3?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Application of Soft Computing</td><td><a href="https://drive.google.com/drive/folders/1oToY13rT2QcWIcUS9n7X4zYYW_CjL-Hu?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Data Warehousing & Data Mining</td><td><a href="https://drive.google.com/drive/folders/1oVHsDvxOS456utUp37LZjdSXA2e65Q6L?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Software Engineering</td><td><a href="https://drive.google.com/drive/folders/1oXDRkgwrUm6MSieCjOH8Ofek2UMHLqhP?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Compiler Design</td><td><a href="https://drive.google.com/drive/folders/1oXxFx19wqE8O7wC3BwBsdCfRq0X1y39Q?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Computer Networks</td><td><a href="https://drive.google.com/drive/folders/1oZnpDuywJaD5ZjN-WMawL2xCzbNTpNY0?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Big Data</td><td><a href="https://drive.google.com/drive/folders/1ob3lkMFWC8v7wV2ELkis37sbBRs6E7nh?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Argumented & Virtual Reality</td><td><a href="https://drive.google.com/drive/folders/1obwIrY-SOMxVJJ5-faZu9qtjM9XVKbxL?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Blockchain Architecture Design</td><td><a href="https://drive.google.com/drive/folders/1ofLekrPhrWHu7kWeTL-qi0AQdocjlY8A?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Data Compression</td><td><a href="https://drive.google.com/drive/folders/1omI5eq_Y3J9he92aqjkh1k8K-eT1DCtS?usp=drive_link">Download Now</a></td></tr>
       <tr><td>Open Elective- I</td><td><a href="https://drive.google.com/drive/folders/1onI-h07KgircBilCd6h8DCHRR2S9iZGO?usp=drive_link">Download Now</a></td></tr>
   </table>
   <table class="tb" border="2">
    <tr><th colspan="2">Fourth Year</th></tr>
       <tr><td id="gtway">Subject:</td><td>Link:</td></tr>
       <tr><td>HSMC-I/ HSMC-II</td><td></td></tr>
       <tr><td>Departmental Elective - IV</td><td></td></tr>
       <tr><td>Departmental ELective- V</td><td></td></tr>
       <tr><td>Open Elective- II</td><td></td></tr>
       <tr><td>HSMC-I/ HSMC-II</td><td></td></tr>
       <tr><td>Open Elective- III</td><td></td></tr>
       <tr><td>Open Elective- In</td><td></td></tr>
   </table>
</section>
</body>
<script src="/javascripts/pyq.js"></script>
</html>