<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/semprep.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
   <header id="navbar">
      <h3 style="color: aliceblue;" id="prep">Semprep</h3>
      <button id="menu" onclick="show()">Menu</button>
      <div id="logo"></div>
    <div id="nav2">
       <ul id="lt1">
        
        <li class="lst"><a href="#ft">Contact Us</a></li>
        <li class="lst"><a href="#assi">About US</a></li>
        <li class="lst"><a href="/login">Register</a></li>
        <li class="lst"><a href="/login/admin">Admin</a></li>
        <li class="lst"><a href="/student/dashboard"><button id="dash"> Dashboard</button></a></li>
       </ul>
       
    </div>
   </header>
   <main id="main">
            <h2 id="head">A Better<br>Learning Journey <br>Future Start Here</h2>
            <p class="info">We are on mission to empower rural education, by providing innovative and <br>accessible learning solution to rural students. Join us in bridging the rural-urban education gap.</p>
             <a href="#login"><button class="btn">Be Elite Member &#8594</button></a>
            <a href="/guest/dashboard"><button class="btn2">Find the Notes &#8594</button></a>
             <div id="img"></div>
             <div id="img2"></div>
   </main>
   <section class="facilities">
      <h1 id="offer"> What We Offer</h1><hr style="width: 80px;">
      <div class="spec" style="background-image: url(https://getwallpapers.com/wallpaper/full/2/c/a/165944.jpg); background-size: cover;">
         <h2 class="hd">Concise Notes.</h2>
         <p class="dtl">Simplify Your Notes, Amplify Your Knowledge with concise notes.Unlocking full potential of your notes. </p>
      </div>
      <div class="spec" style="background-image: url(https://www.panasiabiz.com/wp-content/uploads/2018/08/Screenshot-4.png); background-size: cover;"> <h2 class="hd">Video Tutorials</h2>
         <p class="dtl">Learn in motion by emphasizing the engaging and dynamic nature of video lectures. </p></div>
      <div class="spec" style="background-image: url(https://images.pexels.com/photos/34584/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); background-size: cover;"> <h2 class="hd">Last Moment Study</h2>
         <p class="dtl">From Panic to Prepared emphasizes the idea that students can quickly and effectively prepare <br>
         for exam with best resources </p></div>
   </section>
 
   <section class="assistance">
         <div class="chat"></div>
         <div id="assi">
  <h2 id="mission">Our mission and Vision</h2>
  <hr style="width: 180px;">
  <h3 class="ms"> Our Mission</h3>
  <p class="mss1">To revolutionize the way we learn,by harnessing the power of technology to create personalized <br>engazing , and  effective education experience that unlock student potential to ace their semester exam.</p>
  <h3 class="ms">Our Vision</h3>
  <p class="mss1">A world where technology-enabled education is a norm,
   and where learners are empowered to reach there<br> full potential through personalized , adaptive, amd enganging learning experience.
  </p>
   </section>
</div>
   <section id="login">
      <h3 id="lgre">Be Elite member in one Step</h3>
      <hr style="width: 200px;">
         <table class="login2"style="color: antiquewhite;">
            <tr>
            <th style="text-align: center; font-size: 20px; font-family: 'Times New Roman', Times, serif;" colspan="2">Features of Elite:</th>
         </tr>
            <tr>
               <td colspan="2">1. A+ Graded Notes.</td>
               <td></td>
            </tr>
            <tr>
               
               <td colspan="2">2. One Unit in 5-10 pages</td>
               <td></td>
            </tr>
            <tr>
               <td colspan="2">3. All Examination PYQ  at single platform.</td>
               <td></td>
            </tr>
            <tr>
               <td colspan="2">4. Last Moment Questions for Semester Exam.</td>
               <td></td>
            </tr>
            <tr>
               <td>5. Get College CT and Put Papers.</td>
               <td></td>
            </tr>
             <tr>
               <td><a href="/login"><button id="sub" >Subscribe For Free >> </button></a></td>
               <td></td>
            </tr>
         </table> 
   </section>
   <section id="testm">
      <h2 id="std">What Our Student Says!!</h2><hr style="width: 10vw;">
      <h3 id="tst">Testimonial</h3>
      <div id="scroll">

      </div>
   </section>
   <footer id="ft">
      <b id="sme"><h2>Sem<I>Prep</I></h2></b>
      <p class="info">It is long established fact that a reader will be distracted by the readable content<br>of a page when looking 
      at its layout.</p>
      <div id="qkl">
         <h2 class="quick">Quick Links<hr style="width: 10vw;">
            <ul class="opt">
               <li>Be Elite</li>
               <li>Mission&Values</li>
               <li>Our Courses</li>
               <li>Explore Internship</li>
               <li>Join A Career</li>
               <li>Contact US</li>
               <li>+91 9354330996</li>
               <li>gulshankumarray41@gmail.com</li>
            </ul>
         </div>
         </h2>
         <a href="https://www.facebook.com/gulshanray2003"><i class="fa-brands fa-square-facebook" id="facebook"></i></a>
         <a href="https://www.linkedin.com/in/gulshan-kumar-ray-5243072b0?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin" id="linkedin"></i></a>
         <a href="https://x.com/Gulshan83816998?t=yGBduGbzmEdO1B_oFnaN6g&s=09"><i class="fa-brands fa-square-x-twitter" id="twitter"></i></a>
         <a href="https://wa.me/9354330996?text="Hello""><i class="fa-brands fa-square-whatsapp" id="watsapp"></i></a>
         <a href="https://www.instagram.com/raygulshan2003"><i class="fa-brands fa-square-instagram" id="instagram"></i></a>
   </footer>
   
   <header id="navbar_mob">
      <div id="nav2_mob">
         <ul><li class="lst"><a href="/student/dashboard"><button id="dash" style="position: relative; left: 6rem; bottom: 3.5rem;"> Dashboard</button></a></li>
            <li class="mob_lst"><a href="#ft">Contact Us</a></li>
            <li class="mob_lst"><a href="#assi">About US</a></li>
            <li class="mob_lst"><a href="/login">Register</a></li>
            <li class="mob_lst"><a href="/login/admin">Admin</a></li>
         </ul>
      </div>
     </header>
</body>
<script src="/javascripts/Semprep.js"></script>
</html>